/*
 * @file _colors.scss
 * @author Dimitrios Geomelas <dimitrios.geomelas@ext.ec.europa.eu>
 * @since 06-Jun-2016
 * @copyright European Anti-Fraud Office/Anti-Fraud Information System (OLAF/AFIS)
*/

$color-olaf-a: #6798d2;
$color-olaf-b: #034da2;


$color-portal-a: #08479b;
$color-portal-b: #33c6ff;
$color-portal-c: #a0cceb;


$color-prod-a: #ffffff;
$color-prod-b: #f3fafd;
$color-prod-c: #dff1fb;


$color-train-a: #ffffff;
$color-train-b: #dff0de;
$color-train-c: #dff1fb;


$color-arep: #121539;
$color-alib: #27245f;
$color-vocu: #4769a4;
$color-atis: #65adc3;
$color-1: #89cfda;
$color-2: #8068a3;
$color-3: #684981;
$color-tosma: #a9448f;
$color-quest: #e86896;
$color-4: #ee9bbe;
$color-fide: #ac2728;
$color-5: #da2925;
$color-urt: #eb7142;
$color-6: #f3a45c;
$color-mab: #ffd650;
$color-7: #96ca90;
$color-8: #429c6c;
$color-ims: #178041;
$color-9: #16592d;


$color-b-arep: #b2aeba;
$color-b-alib: #b9b5c6;
$color-b-vocu: #cbcee2;
$color-b-atis: #d7e4e9;
$color-b-1: #e1eef0;
$color-b-2: #d8d1e5;
$color-b-3: #cfc7d7;
$color-b-tosma: #e2cddf;
$color-b-quest: #f5d9e1;
$color-b-4: #f6e4ec;
$color-b-fide: #e2c3b7;
$color-b-5: #f2ccbb;
$color-b-urt: #f7d8c7;
$color-b-6: #f7d4af;
$color-b-mab: #ffe8b3;
$color-b-7: #e2eddf;
$color-b-8: #cedbcf;
$color-b-ims: #c6d3c2;
$color-b-9: #bdc5b8;
